.empty-post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;
  animation: aparecer 1s;
}

.empty-post-list img {
  width: 300px;
}

.empty-post-list h2 {
  font-family: 'Orelega One', cursive;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
}


@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 540px) {
  .empty-post-list img {
    width: 250px;
  }
  
  .empty-post-list h2 {
    font-size: 24px;
  }
}