#home {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#home .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 38px;
  max-width: 800px;
}

@media screen and (max-width: 540px) {
  #home {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 72px;
  }
}