#my-posts {
  padding: 30px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#my-posts .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 38px;
  max-width: 800px;
}

@media screen and (max-width: 540px) {
  #my-posts {
    padding-top: 72px;
  }
}