:root {
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  }

.new-post-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px 0;
  /* border: 1px solid red; */
}

.new-post-form input, .new-post-form textarea {
  font-size: 18px;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px solid var(--cinza1);
  background: var(--cinza2);
  outline: none;
  padding: 4px;
  color: #fff;
  width: 100%;
}

.new-post-form textarea {
  resize: vertical;
  min-height: 200px;
}

.new-post-form input:focus:enabled,
.new-post-form textarea:focus:enabled,
.new-post-form input:hover:enabled,
.new-post-form textarea:hover:enabled {
  border-color: #219ebc;
}

.new-post-form input:disabled,
.new-post-form textarea:disabled,
.new-post-form input:disabled,
.new-post-form textarea:disabled {
  cursor: not-allowed;
}

.new-post-form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-post-form .footer-logged {
  justify-content: flex-end;
}

.new-post-form footer button {
  padding: 8px 24px;
  border: 0;
  border-radius: 4px;
}

.new-post-form footer button:enabled {
  background: #219ebc;
  cursor: pointer;
  color: #fff;
}
.new-post-form footer button:disabled {
  cursor: not-allowed;
  color: #999;
}
