:root {
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  }

.new-post-section {
  display: flex;
  justify-content: center;
}

.new-post-form {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
  border: 1px solid #727272;
  border-radius: 4px;
}

.new-post-form input, .new-post-form textarea {
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid var(--cinza1);
  background: var(--cinza2);
  outline: none;
  padding: 4px;
  color: #fff;
  width: 100%;
}

.new-post-form .textarea-div textarea {
  resize: vertical;
  min-height: 200px;
}

.new-post-form .textarea-div img {
  width: 36px;
  border-radius: 2px;
  background: var(--cinza2);
}

.new-post-form .textarea-div img:hover {
  background: var(--cinza1);
  cursor: pointer;
}

.new-post-form input:focus:enabled,
.new-post-form textarea:focus:enabled,
.new-post-form input:hover:enabled,
.new-post-form textarea:hover:enabled {
  border-color: #219ebc;
}

.new-post-form input:disabled,
.new-post-form textarea:disabled,
.new-post-form input:disabled,
.new-post-form textarea:disabled {
  cursor: not-allowed;
}

.new-post-form .image-preview {
  display: flex;
  justify-content: center;
}

.new-post-form .image-preview img {
  max-width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 4px #fff;
}

.new-post-form .image-preview img:hover {
  cursor: pointer;
}

.new-post-form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-post-form .footer-logged {
  justify-content: flex-end;
}

.new-post-form footer button {
  padding: 8px 24px;
  border: 0;
  border-radius: 4px;
  cursor: not-allowed;
  color: #999;
  margin-top: 18px;
}

.new-post-form footer button:enabled {
  background: #219ebc;
  cursor: pointer;
  color: #fff;
}

.new-post-form footer button:enabled:hover {
  filter: brightness(0.8);
}