:root {
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  }

.posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
}

.posts-list .post {
  width: 80%;
  border: 1px solid #727272;
  padding: 12px;
  border-radius: 4px;
  animation: surgir 1s;
}

.posts-list .post .posted-at {
  display: block;
  text-align: end;
  font-size: 14px;
  font-family: 'Bree Serif', serif;
}

.posts-list .post .title, .posts-list .post .content {
  margin-top: 4px;
  text-align: justify;
}

.posts-list .post .title {
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 1px;
}

.posts-list .post .content {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.posts-list .post .image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.posts-list .post .image img {
  max-width: 100%;
  border-radius: 4px;
}

.posts-list .post .post-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.posts-list .post .interactive-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.posts-list .post .interactive-buttons button {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fff;
  background: transparent;
  border: 0;
  border-radius: 2px;
  padding: 2px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

.posts-list .post .interactive-buttons button:enabled:hover {
  background: var(--cinza2);
  cursor: pointer;
}


.posts-list .post .interactive-buttons .liked path {
  stroke: #219ebc;
}

@keyframes surgir {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  60% {
    transform: translateY(-20px);
    opacity: 1;
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 860px) {
  .posts-list .post {
    width: 90%;
  }

  .posts-list .post .title {
    font-size: 22px;
  }

  .posts-list .post .content {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  .posts-list .post {
    width: 95%;
  }

  .posts-list .post .posted-at {
    font-size: 12px;
  }

  .posts-list .post .title {
    font-size: 18px;
  }

  .posts-list .post .content {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .posts-list .post .post-footer {
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 12px;
  }
}