:root {
  --verde-escuro: rgb(3, 107, 82);
  --verde-claro: rgb(47, 193, 140);
  --roxo-escuro: rgb(65, 25, 127);
  --roxo-claro: rgb(137, 88, 163);
  --azul-claro: rgb(0, 213, 226);
  --azul-escuro: rgb(0, 109, 251);
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
  } 

#user {
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0 0 4px var(--cinza1);
  padding: 4px 8px;
  border-radius: 9999px;
  background: var(--cinza2);
  font-family: 'Acme', sans-serif;
  font-size: 16px
}

#user span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}

#user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

@media screen and (max-width: 540px) {
  #user {
    padding: 4px;
  }

  #user span {
    max-width: 90px;
  }
}

@media screen and (max-width: 360px) {
  #user span {
    max-width: 90%;
  }
}